.headerContainer {
  border-bottom: 1px solid #eee;
}
.header {
  height: 100%;
  width: 80%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  margin: 0 auto;
}
.left,
.right {
  display: flex;
  align-content: center;
  align-items: center;
}

.header h1 {
  font-size: 20px;
}

.gitHubButton {
  margin-right: 4px;
}

@media only screen and (max-width: 375px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
}

@media only screen and (max-width: 768px) {
  .gitHubButton {
    display: none;
  }
}
