.label {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 8px;
}

.frame {
  display: flex;
  width: 100%;
}

.helpText {
  color: rgb(148, 148, 148);
  font-size: 13px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 8px;
}

.select {
  padding: 4px 12px;
  line-height: 24px;
  font-size: 12px;
  font-weight: 400;
  border: solid 1px #ddd;
  border-radius: 5px;
}
