.snippet {
  margin-bottom: 20px;
}

.head {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.title {
  width: 90%;
  flex: 1;
  font-size: 20px;
  word-break: break-all;
  text-align: justify;
}

.action {
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .head {
    width: 100%;
    display: block;
  }

  .action {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
