html,
body {
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: 20px auto;
}

.appInfo {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.liffIdBox {
  max-width: 400px;
}

.qrCode {
  max-width: 128px;
  height: auto;
}

.applicationNotice {
  color: #777777;
  font-size: 15px;
}

@media only screen and (max-width: 375px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
}
